NODE_ENV="development" # development | staging | production
PORT=3000

# GOOGLE
GOOGLE_APPLICATION_CREDENTIALS=""

# WHATSSAP
WHATSSAP_ACCESS_TOKEN=""
WHATSAPP_VERIFY_TOKEN=""

# CLOUDFLARE
CLOUDFLARE_TOKEN=""

# DATABASE
DATABASE_HOST=""
DATABASE_USERNAME=""
DATABASE_PORT=""
DATABASE_NAME=""
DATABASE_PASSWORD=""
DATABASE_SYNC=""
DATABASE_LOGGING=""